<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Evita loop infinito caso a requisição já seja para a pasta public
    RewriteCond %{REQUEST_URI} !^/public/
    
    # Redireciona silenciosamente tudo para a pasta public
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
