CREATE TABLE IF NOT EXISTS users (
  id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  name varchar(255) NOT NULL,
  email varchar(255) NOT NULL,
  email_verified_at timestamp NULL DEFAULT NULL,
  password varchar(255) NOT NULL,
  remember_token varchar(100) DEFAULT NULL,
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL,
  PRIMARY KEY (id),
  UNIQUE KEY users_email_unique (email)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at) VALUES (1,'Felippe','felippe.flip@gmail.com',NULL,'$2y$12$R/J9goTlq77c.6b6PaK8dePRGZD.nXzyZNUYiUR4h8EQ2Y2UctfuG',NULL,'2026-03-31 01:10:41','2026-03-31 01:10:41');

CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  owner varchar(255) NOT NULL,
  expiration int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY cache_locks_expiration_index (expiration)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE failed_jobs (
  id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  uuid varchar(255) NOT NULL,
  connection text NOT NULL,
  queue text NOT NULL,
  payload longtext NOT NULL,
  exception longtext NOT NULL,
  failed_at timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (id),
  UNIQUE KEY failed_jobs_uuid_unique (uuid)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE migrations (
  id int(10) unsigned NOT NULL AUTO_INCREMENT,
  migration varchar(255) NOT NULL,
  batch int(11) NOT NULL,
  PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO migrations (id, migration, batch) VALUES
(1,'0001_01_01_000000_create_users_table',1),
(2,'0001_01_01_000001_create_cache_table',1),
(3,'0001_01_01_000002_create_jobs_table',1),
(4,'2026_03_30_223000_create_pricing_saas_tables',2),
(5,'2026_03_30_225500_add_fields_to_filaments_table',3),
(6,'2026_03_30_232000_add_fields_to_consumables_table',4),
(7,'2026_03_31_000000_add_sequential_id_to_quotes',5);

CREATE TABLE clients (
  id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  user_id bigint(20) unsigned NOT NULL,
  name varchar(255) NOT NULL,
  email varchar(255) DEFAULT NULL,
  phone varchar(255) DEFAULT NULL,
  address text DEFAULT NULL,
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL,
  PRIMARY KEY (id),
  KEY clients_user_id_foreign (user_id),
  CONSTRAINT clients_user_id_foreign FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO clients (id, user_id, name, email, phone, address, created_at, updated_at) VALUES (1,1,'Teste','brunafiscal.lima@gmail.com','19992674171','Rua: 20, 318','2026-03-31 03:25:41','2026-03-31 03:25:41');

CREATE TABLE consumables (
  id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  user_id bigint(20) unsigned NOT NULL,
  name varchar(255) NOT NULL,
  total_price decimal(10,2) NOT NULL DEFAULT 0.00,
  quantity decimal(10,2) NOT NULL DEFAULT 1.00,
  cost decimal(10,2) NOT NULL,
  unit varchar(255) NOT NULL DEFAULT 'un',
  purchase_date date DEFAULT NULL,
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL,
  PRIMARY KEY (id),
  KEY consumables_user_id_foreign (user_id),
  CONSTRAINT consumables_user_id_foreign FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


CREATE TABLE filaments (
  id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  user_id bigint(20) unsigned NOT NULL,
  brand varchar(255) NOT NULL,
  color varchar(255) NOT NULL,
  type varchar(255) NOT NULL DEFAULT 'PLA',
  quality varchar(255) DEFAULT NULL,
  purchase_date date DEFAULT NULL,
  initial_weight_g int(11) NOT NULL,
  total_price decimal(10,2) NOT NULL,
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL,
  PRIMARY KEY (id),
  KEY filaments_user_id_foreign (user_id),
  CONSTRAINT filaments_user_id_foreign FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


CREATE TABLE user_settings (
  id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  user_id bigint(20) unsigned NOT NULL,
  energy_cost_kwh decimal(8,4) NOT NULL DEFAULT 0.0000,
  machine_depreciation_hour decimal(8,2) NOT NULL DEFAULT